<app-header></app-header>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="login-page">
      <div class="form mb-2">
        <form class="login-form">
          <input type="email" placeholder="Email" />
        </form>
        <div class="col-12">
          <button
            type="button"
            class="btn btn-cancelar px-3 py-1 rounded-5"
            [routerLink]="['/signin']"
          >
            Send Email
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-end justify-content-lg-around">
    <img src="assets/sports_icons.png" class="footer" />
  </div>
</div>
