<div class="container">
  <div class="row">
    <div class="title col-sm-12">
      <p>Mi dia</p>
    </div>
  </div>

  <div class="content row">
    <div class="column col-sm-6">
      <div class="forecast">
        <p>Prepárate para</p>
        <p>el dia de hoy</p>
        <hr />
        <img src="assets/forecast.png" width="60%" />
        <p class="pronostico">Lluvias fuertes</p>
        <p class="pronostico">Posible Tormenta</p>
      </div>
    </div>
    <div class="column-2 col-sm-6">
      <div class="forecast">
        <br>
        <p>Pendientes del dia</p>
        <hr />


        <div class="row" >
          <div class="pendiente column col-sm-2">
            <p>+</p>
          </div>
          <div class="column col-sm-10">
            <input type="text" class="ghost-input" placeholder="Agregar Pendiente" required>
          </div>
        </div>









      </div>
    </div>
  </div>

  <div
    class="dropdown-divider"
    id="line-one"
    style="border-color: rgb(217, 210, 210)"
  ></div>
  <div
    class="dropdown-divider"
    id="line-two"
    style="border-color: rgb(217, 210, 210)"
  ></div>

  <div class="menu row">
    <app-menu></app-menu>
  </div>
</div>
