<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="menu col-sm-8">
    <abbr title="Alarmas"><a href="/alarm"><img  id="menu-item" width="10%"   onmouseout="this.src='assets/alarma.png';" onmouseover="this.src='assets/alarma2.png';" onmousedown="this.src='assets/alarma2.png';" src="assets/alarma.png"></a></abbr>
    <abbr title="Recordatorios"><a href="/reminder"><img  id="menu-item" width="10%"   onmouseout="this.src='assets/recordatorio.png';" onmouseover="this.src='assets/recordatorio2.png';" src="assets/recordatorio.png"></a></abbr>
    <abbr title="Cronometro"><a href="/chronometer"><img  id="menu-item" width="10%"   onmouseout="this.src='assets/cronometro.png';" onmouseover="this.src='assets/cronometro2.png';" src="assets/cronometro.png"></a></abbr>
    <abbr title="Temporizador"><a href="/timer"><img  id="menu-item" width="10%"   onmouseout="this.src='assets/temporizador.png';" onmouseover="this.src='assets/temporizador2.png';" src="assets/temporizador.png"></a></abbr>
    <abbr title="Clima"><a href="/weather"><img  id="menu-item" width="10%"   onmouseout="this.src='assets/clima.png';" onmouseover="this.src='assets/clima2.png';" src="assets/clima.png"></a></abbr>
  </div>
  <div class="col-sm-2">

  </div>
</div>
