<app-header-menu></app-header-menu>
<app-header></app-header>

<div class="container">
  <div class="content row">
    <div class="col-md-6">
      <div class="cuadro pt-2 px-2">
        <div class="text-alarm border-title-blue">
          <p class="my-1">Alarmas</p>
        </div>
        <div class="px-2">
          <div class="lista row" *ngFor="let item of lista">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2 mt-1">
                <input
                  class="form-check-input radio radio-blue"
                  type="radio"
                  name="radioNoLabel"
                  id="radioNoLabel1"
                />
              </div>
              <div id="hora" class="col-sm-5">
                <p>5:30 PM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <input
                  class="form-check-input swithc swt-blue"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  checked
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="cuadro pt-2 px-2">
        <div class="text-alarm border-title-fuch">
          <p class="my-1">Rutinas</p>
        </div>
        <div class="px-2">
          <div class="lista row" *ngFor="let item of listaRutinas">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <input
                  class="form-check-input radio radio-fuch"
                  type="radio"
                  name="radioNoLabel"
                  id="radioNoLabel1"
                />
              </div>
              <div id="hora" class="col-sm-5">
                <p>{{ item.hora }}</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <img src="assets/{{ item.icono }}" width="40%" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>