<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2"><img src="../../../assets/Sport1.png" width="50%" class="img"/></div>
        <div class="col-2"><img src="../../../assets/Sport2.png" width="50%" class="img"/></div>
        <div class="col-2"><img src="../../../assets/Sport3.png" width="50%" class="img"/></div>
        <div class="col-2"><img src="../../../assets/Sport5.png" width="50%" class="img"/></div>
        <div class="col-2"><img src="../../../assets/Sport6.png" width="50%" class="img"/></div>
        <div class="col-2"><img src="../../../assets/Sport7.png" width="50%" class="img"/></div>
      </div>
    </div>
    <div class="form mb-4">
        <form class="login-form">
            <input type="tex" placeholder="Nombre evento" />
        </form>
    </div>
    <div class="col-8">
      <mat-calendar></mat-calendar>
    </div>
    <div class="col-2">
        <ul class="list-group" style="border-radius: 25px;">
            <li class="list-group-item">5:00</li>
            <li class="list-group-item">6:00</li>
            <li class="list-group-item">7:00</li>
            <li class="list-group-item">8:00</li>
            <li class="list-group-item">9:00</li>
            <li class="list-group-item">10:00</li>
            <li class="list-group-item">11:00</li>
            <li class="list-group-item">12:00</li>
            <li class="list-group-item">13:00</li>
            <li class="list-group-item">14:00</li>
            <li class="list-group-item">15:00</li>
            <li class="list-group-item">16:00</li>
            <li class="list-group-item">17:00</li>
        </ul>
    </div>
    <div class="col-2 my-auto">
      <button type="button" class="btn btn-guardar px-3 py-1 rounded-5 mb-2" data-bs-dismiss="modal">
        Guardar
      </button>
      <button type="button" class="btn btn-cancelar px-3 py-1 rounded-5" data-bs-dismiss="modal">
        Cancelar
      </button>
    </div>
  </div>
</div>
