<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2">icono</div>
                <div class="col-2">icono</div>
                <div class="col-2">icono</div>
                <div class="col-2">icono</div>
                <div class="col-2">icono</div>
                <div class="col-2">icono</div>
            </div>
            
        </div>
        <div class="col-12">
            aquí va el input
        </div>
        <div class="col-8">
            Aquí va el calendario
            <mat-calendar></mat-calendar>
        </div>
        <div class="col-2">
            Aquí va el selector de horas
        </div>
        <div class="col-2 my-auto">
            <button type="button" class="btn btn-guardar  px-3 py-1 rounded-5 mb-2">Guardar</button>
            <button type="button" class="btn btn-cancelar px-3 py-1  rounded-5">Cancelar</button>
        </div>
    </div>
</div>   