@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.modal-content {
  margin-right: auto;
  display: block;
  float: right;
  background: #d9d9d9;
  opacity: 1;
  width: 400px;
  height: 400px;
  border-radius: 45px 45px 45px 45px;
  padding: 40px 0 0 20px;
}

.checkbox {
  width: 30px;
  height: 30px;
  padding: 30px 30px 30px 30px;
}

.select {
  margin: 0 0 30px 0;
  width: 260px;
  padding: 10px 10px 10px 10px;
}

.form-check-input {
  height: 25px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
  border: #035460 solid 1px;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input:hover {
  cursor: pointer;
}
.swt-blue.form-check-input {
  background-color: #d80e70;
  border-color: #6e0051;
}
.swt-blue.form-check-input:checked {
  background-color: #0cd9f6;
  border-color: #035460;
}

.btn-guardar {
  background-color: #0cd9f6;
  border-color: #035460;
  font-weight: 600;
  width: 100px;
}

.btn-cancelar {
  background-color: #d80e70;
  border-color: #6e0051;
  font-weight: 600;
  width: 100px;
}
