<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
        <select class="select" name="lenguajes" id="lang">
          <option value="tono1">Tono Guitarra 1</option>
          <option value="tono2">Tono Guitarra 2</option>
          <option value="tono3">Tono Guitarra 3</option>
          <option value="tono4">Tono Guitarra 4</option>
          <option value="tono5">Tono Guitarra 5</option>
          <option value="tono6">Tono Guitarra 6</option>
          <option value="tono7">Tono Guitarra 7</option>
          <option value="tono8">Tono Guitarra 8</option>
        </select>
        <td>
          <input
            class="checkbox"
            type="checkbox"
            id="cbox1"
            value="first_checkbox"
          />
        </td>
        <td>
          <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
            Configuración 1
          </h1>
        </td>
        <tr>
          <td>
            <input
              class="checkbox"
              type="checkbox"
              id="cbox2"
              value="first_checkbox"
            />
          </td>
          <td>
            <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
              Configuración 2
            </h1>
          </td>
        </tr>
        <tr>
          <td>
            <input
              class="checkbox"
              type="checkbox"
              id="cbox3"
              value="first_checkbox"
            />
          </td>
          <td>
            <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
              Configuración 3
            </h1>
          </td>
        </tr>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-guardar px-3 py-1 rounded-5 mb-2" data-bs-dismiss="modal">Guardar</button>
      <button type="button" class="btn btn-cancelar px-3 py-1 rounded-5" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </div>
</div>


<!-- 


<div class="content row">
    <table class="new_alarm">
      <select class="select" name="lenguajes" id="lang">
        <option value="tono1">Tono Guitarra 1</option>
        <option value="tono2">Tono Guitarra 2</option>
        <option value="tono3">Tono Guitarra 3</option>
        <option value="tono4">Tono Guitarra 4</option>
        <option value="tono5">Tono Guitarra 5</option>
        <option value="tono6">Tono Guitarra 6</option>
        <option value="tono7">Tono Guitarra 7</option>
        <option value="tono8">Tono Guitarra 8</option>
      </select>
      <td>
        <input
          class="checkbox"
          type="checkbox"
          id="cbox1"
          value="first_checkbox"
        />
      </td>
      <td>
        <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
          Configuración 1
        </h1>
      </td>
      <tr>
        <td>
          <input
            class="checkbox"
            type="checkbox"
            id="cbox2"
            value="first_checkbox"
          />
        </td>
        <td>
          <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
            Configuración 2
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="checkbox"
            type="checkbox"
            id="cbox3"
            value="first_checkbox"
          />
        </td>
        <td>
          <h1 style="padding-left: 10px; color: rgb(74, 71, 71)">
            Configuración 3
          </h1>
        </td>
      </tr>
      <div class="modal-footer">
          <div class="cuadro_blue">
            <h1 style="color: rgb(0, 0, 0); font-size: 20px">CANCELAR</h1>
          </div>
          <div class="cuadro_pink">
            <h1 style="color: white; font-size: 20px">GUARDAR</h1>
          </div>
      </div>
    </table>
</div> -->
