@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 4% 0 0;
  margin: auto;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
}

.form {
  position: relative;
  z-index: 1;
  color: #66696c;
  background: #d9d9d9;
  opacity: 0.7;
  max-width: 500px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 45px 45px 45px 45px;
  border: 2px solid;
  font-family: "Roboto";
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#icon {
  position: relative;
  bottom: 0.5rem;
  right: 1rem;
  user-select: none;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #4a4a4a;
  font-size: 15px;
}
.form .message a {
  color: #0cd9f6;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.form .message-pass {
  margin: 15px 0 0;
  color: #4a4a4a;
  font-size: 15px;
}
.form .message-pass a {
  color: #d80e70;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.form .register-form {
  display: none;
}

.body {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  width: 50%;
  height: 25%;
}

.btn-guardar {
  background-color: #0cd9f6;
  border-color: #035460;
  font-weight: 600;
  width: 100px;
}

.btn-cancelar {
  background-color: #d80e70;
  border-color: #6e0051;
  font-weight: 600;
  width: 100px;
}
