<app-header></app-header>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="login-page">
      <div class="form mb-2">
        <form class="login-form">
          <input type="user" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="phone" placeholder="Phone" />
          <input type="text" placeholder="Sport Activity" />
        </form>
        <div class="row my-auto">
          <div class="col-6">
            <button
              type="button"
              class="btn btn-guardar px-3 py-1 rounded-5 mb-2"
              [routerLink]="['/signin']"
            >
              Crear
            </button>
          </div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-cancelar px-3 py-1 rounded-5"
              [routerLink]="['/signin']"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-end justify-content-lg-around">
    <img src="assets/sports_icons.png" class="footer" />
  </div>
</div>
