  <TABLE>
    <TR>
      <TD>
          <h1 class="app-name-left">SPORT</h1>
      <TD>
        <img src="assets/icono_base.png" class="center"/>
      </TD>
      <TD>
          <h1 class="app-name-right">ALARMS</h1>
      <TD>
    </TR>
  </TABLE>
  <div class="login-page">
    <div class="form" (ngSubmit)="submit()">
      <form class="login-form">
        <input type="user" placeholder="Usuario"/>
        <input type="contrasena" placeholder="Contraseña"/>
        <button  (click)="submit()">Log IN</button>
        <p class="message">Don’t have an account?<a href="/signup">  Sign Up</a></p>
        <p class="message-pass">Forgot my<a href="/signup">  password</a></p>
      </form>
    </div>
  </div>
  <div>
    <img src="assets/sports_icons.png" class="footer"/>
  </div>