<app-header></app-header>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="login-page">
      <div class="form mb-2" (ngSubmit)="submit()">
        <form class="login-form">
          <input type="user" placeholder="Usuario" />
          <input type="contrasena" placeholder="Contraseña" />
          <button (click)="submit()">Log in</button>
          <p class="message">
            Don’t have an account?<a [routerLink]="['/signup']"> Sign Up</a>
          </p>
          <p class="message-pass">Forgot my<a [routerLink]="['/forgot']"> password</a></p>
        </form>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-end justify-content-lg-around">
    <img src="assets/sports_icons.png" class="footer" />
  </div>
</div>
