<div class="content row">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-1 text-logout"><p style="color: white;">Log Out</p></div>
      <div class="col-md-1" style="opacity: 0.3; margin-top: 10px"><img  width="80%" src="assets/plus1.png"></div>
      <div class="col-md-1"><img style="margin-top: 20px"  width="40%" src="assets/Settings.png"></div>
      <table class="new_alarm">
        <select class="select" name="lenguajes" id="lang">
          <option value="tono1">Tono Guitarra 1</option>
          <option value="tono2">Tono Guitarra 2</option>
          <option value="tono3">Tono Guitarra 3</option>
          <option value="tono4">Tono Guitarra 4</option>
          <option value="tono5">Tono Guitarra 5</option>
          <option value="tono6">Tono Guitarra 6</option>
          <option value="tono7">Tono Guitarra 7</option>
          <option value="tono8">Tono Guitarra 8</option>
        </select>
        <td>
          <input class="checkbox" type="checkbox" id="cbox1" value="first_checkbox">
        </td>
        <td>
          <h1 style="padding-left: 10px; color: rgb(74, 71, 71);">Configuración 1</h1>
        </td>
        <tr>
          <td>
            <input class="checkbox" type="checkbox" id="cbox2" value="first_checkbox">
          </td>
          <td>
            <h1 style="padding-left: 10px; color: rgb(74, 71, 71);">Configuración 2</h1>
          </td>
        </tr>  
        <tr>
          <td>
            <input class="checkbox" type="checkbox" id="cbox3" value="first_checkbox">
          </td>
          <td>
            <h1 style="padding-left: 10px; color: rgb(74, 71, 71);">Configuración 3</h1>
          </td>
        </tr>  
        <div class="cuadro_blue">
          <h1 style="color: rgb(0, 0, 0); font-size: 20px; ">CANCELAR</h1>
        </div>
        <div class="cuadro_pink">
          <h1 style="color: white; font-size: 20px;">GUARDAR</h1>
        </div>
      </table>
      
    </div>
    <div class="col-sm-12">
      <TABLE>
        <TR>
          <TD> <h1 class="app-name-left">SPORT</h1> </TD>
          <TD>
            <img src="assets/icono_base.png" class="center" />
          </TD>
          <TD> <h1 class="app-name-right">ALARMS</h1> </TD><TD> </TD>
        </TR>
      </TABLE>
    </div>
  <div class="container">
    <div class="content row">
      <div class="col-md-6">
        <div class="cuadro">
          <div class="text-alarm">
            <p>Alarmas</p>
          </div>
          <div class="lista row" *ngFor="let item of lista">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <mat-radio-button></mat-radio-button>
              </div>
              <div id="hora" class="col-sm-5">
                <p>5:30 PM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <input
                  class="form-check-input swt-blue"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  checked
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cuadro">
          <div class="text-alarm">
            <p>Rutinas</p>
          </div>
          <div class="lista row">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <mat-radio-button></mat-radio-button>
              </div>
              <div id="hora" class="col-sm-5">
                <p>5:30 AM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <img src="assets/Sport1.png" width="40%" />
              </div>
            </div>
          </div>
          <div class="lista row">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <mat-radio-button></mat-radio-button>
              </div>
              <div id="hora" class="col-sm-5">
                <p>7:30 PM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <img src="assets/Sport2.png" width="40%" />
              </div>
            </div>
          </div>
          <div class="lista row">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <mat-radio-button></mat-radio-button>
              </div>
              <div id="hora" class="col-sm-5">
                <p>11:30 PM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <img src="assets/Sport7.png" width="40%" />
              </div>
            </div>
          </div>
          <div class="lista row">
            <div class="lista-item col-sm-12">
              <div class="form-check col-sm-2">
                <mat-radio-button></mat-radio-button>
              </div>
              <div id="hora" class="col-sm-5">
                <p>7:30 PM</p>
              </div>
              <div class="form-check form-switch col-sm-5">
                <img src="assets/Sport8.png" width="40%" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  